<template>
  <div>
    <class-select-component />
    <div mx-auto>
      <v-container class="container">
        <v-row dense>
          <v-col v-for="card in cards" :key="card.title" class="d-flex card-div">
            <v-card elevation="8" @click="deneme" link class="card-basic">
              <v-img src="../assets/icon/folder.png" class="black--text align-end"></v-img>
              <p class="card-title">{{card.title}}</p>
              <v-row class="icon-row">
                <v-col class="download-col">
                  <img src="../assets/icon/download.png" alt="information" />
                  <div class="download-count">
                    <p>{{card.download}}</p>
                  </div>
                </v-col>
                <v-col class="not-col">
                  <img src="../assets/icon/file.png" alt="information" />
                  <div class="not-count">
                    <p>{{card.count}}</p>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import ClassSelectComponent from "./ClassSection/ClassSelectComponent";
export default {
  data: () => ({
    cards: [
      {
        title: "Bilgisayar Temelleri",
        download: 2,
        count: 3
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş dersini alan",
        download: 5,
        count: 85
      },
      {
        title: "Bilgisayar Temelleri",
        download: 7,
        count: 5
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 120,
        count: 17
      },
      {
        title: "Bilgisayar Temelleri",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Temelleri",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Temelleri",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 2,
        count: 2
      },
      {
        title: "Yönetim ve Organizasyon",
        download: 2,
        count: 2
      },
      {
        title: "Bilgisayar Mühendisliğine Giriş",
        download: 2,
        count: 2
      }
    ]
  }),
  components: {
    ClassSelectComponent
  },
  methods: {
    deneme() {
      console.log("asd");
      this.$router.push("NoteComponent");
    }
  }
};

// Sayıları gösteren sütunun divin bitişine sabitlemeyi yusuf ile tartış.
</script>

<style lang="scss" scoped>
@import "../style/main.scss";
.card-title {
  height: 45px;
  text-align: center;
  font-size: 14px;
  padding: 2px;
  font-family: $directory-note-font;
  font-weight: bold;
}
.container {
  // border: 2px solid red;
}
.card-div {
  // border: 2px solid black;
}
// .card-basic{
//   height: 300px;
// }
.icon-row {
  .download-col,
  .not-col {
    img {
      max-width: 32px !important;
      display: block;
      margin: 0 auto;
    }
    .download-count,
    .not-count {
      border: 1px ridge #87cefa;
      width: 42px;
      height: 42px;
      padding: 6px;
      margin: 0 auto;
      border-radius: 4px;
      margin-top: 7px;

      p {
        text-align: center;
        font-size: 14px;
        line-height: 31px;
      }
    }
  }
}
@media screen and (min-width: 319px) {
  .container {
    width: 230px !important;
    .card-div {
      width: 180px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
@media screen and (min-width: 379px) {
  .container {
    width: 250px !important;
    .card-div {
      //max-width: 200px !important;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
@media screen and (min-width: 444px) {
  .container {
    width: 400px !important;
    .card-div {
      max-width: 170px !important;
      margin-left: 10px;
      margin-right: 10px;
      .card-basic {
        height: 320px;
      }
    }
  }
}
@media screen and (min-width: 544px) {
  .container {
    width: 450px !important;
    .card-div {
      max-width: 187px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 340px;
      }
    }
  }
}
@media screen and (min-width: 599px) {
  .container {
    width: 480px !important;
    .card-div {
      max-width: 210px !important;
      margin-left: 10px;
      margin-right: 10px;
      .card-basic {
        height: 370px !important;
      }
    }
  }
}
@media screen and (min-width: 699px) {
  .container {
    width: 600px !important;
    .card-div {
      max-width: 169px !important;
      margin-left: 12px;
      margin-right: 12px;
      .card-basic {
        height: 320px !important;
      }
    }
  }
}
@media screen and (min-width: 799px) {
  .card-title {
    height: 40px;
  }
  .container {
    width: 650px !important;
    .card-div {
      max-width: 184px !important;
      margin-left: 13px;
      margin-right: 13px;
      .card-basic {
        height: 330px !important;
      }
    }
  }
}
@media screen and (min-width: 879px) {
  .container {
    width: 700px !important;
    .card-div {
      max-width: 198px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 350px !important;
      }
    }
  }
}
@media screen and (min-width: 949px) {
  .container {
    width: 820px !important;
    .card-div {
      max-width: 172px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 330px !important;
      }
    }
  }
}
@media screen and (min-width: 1049px) {
  .container {
    width: 950px !important;
    .card-div {
      max-width: 192.5px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 340px !important;
      }
    }
  }
}
@media screen and (min-width: 1149px) {
  .container {
    width: 1000px !important;
    .card-div {
      max-width: 192px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 340px !important;
      }
    }
  }
}

@media screen and (min-width: 1249px) {
  .container {
    width: 1100px !important;
    .card-div {
      max-width: 188px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 340px !important;
      }
    }
  }
}

@media screen and (min-width: 1349px) {
  .container {
    width: 1200px !important;
    .card-div {
      max-width: 205px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 350px !important;
      }
    }
  }
}
@media screen and (min-width: 1549px) {
  .container {
    width: 1450px !important;
    .card-div {
      max-width: 205px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 350px !important;
      }
    }
  }
}
@media screen and (min-width: 1649px) {
  .container {
    width: 1500px !important;
    .card-div {
      max-width: 205px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 350px !important;
      }
    }
  }
}
@media screen and (min-width: 1749px) {
  .container {
    width: 1600px !important;
    .card-div {
      max-width: 205px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 350px !important;
      }
    }
  }
}

@media screen and (min-width: 1903px) {
  .container {
    width: 1800px !important;
    .card-div {
      max-width: 182px !important;
      margin-left: 14px;
      margin-right: 14px;
      .card-basic {
        height: 340px !important;
      }
    }
  }
}
</style>