<template>
  <div>
    <class-info-component />
    <div mx-auto>
      <v-container class="container">
        <v-row dense>
          <v-col v-for="card in cards" :key="card.title" class="d-flex card-div">
            <v-card elevation="8" link class="card-basic">
              <v-img :src="card.src" class="note-icon black--text align-end"></v-img>
              <p class="card-title">{{card.title}}</p>
              <v-row class="user-row">
                <p class="card-user">
                  <img class="user-icon" src="../assets/icon/user_.png" alt="user" />
                  {{card.user}}
                </p>
              </v-row>
              <v-row class="date-row">
                <p>{{card.date}}</p>
              </v-row>
              <v-row class="icon-row">
                <v-col class="like-col">
                  <img src="../assets/icon/like.png" alt="like" />
                  <div class="like-count">
                    <p>
                      <span>{{card.like_count}}</span>
                    </p>
                  </div>
                </v-col>

                <v-col class="download-col">
                  <img src="../assets/icon/download.png" alt="download" />
                  <div class="download-count">
                    <p>{{card.download}}</p>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import ClassInfoComponent from "./NoteSection/ClassInfoComponent";
export default {
  data: () => ({
    cards: [
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasas dasdda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri ",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },

      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 23
      },
      {
        title: "Bilgisayar Temelleri Çalışma Notu asdasda",
        user: "Yunus Gümüş",
        src: require("../assets/icon/folder.png"),
        download: 2,
        date: "12/12/2019",
        like_count: 230
      }
    ]
  }),
  components: {
    ClassInfoComponent
  }
};
</script>

<style lang="scss" scoped>
@import "../style/main.scss";

.container {
  // border: 2px solid red;
  max-width: 200px;
  .card-div {
    // border: 2px solid green;
    margin-left: 10px;
    margin-right: 10px;
    .card-basic {
      width: 300px;
      .card-title {
        font-size: 18px;
        text-align: center;
        // height: 45px;
      }
      .user-row {
        .user-icon {
          width: 30px;
          margin-right: 2px;
        }
      }
      .date-row {
        p {
          margin: auto;
          text-align: center;
          padding: 2px;
        }
      }
      .card-user {
        font-size: 18px;
        font-weight: bold;
        margin: auto;
      }
      .icon-row {
        padding: 2px 8px;
        .like-col {
          margin: auto;
          img {
            width: 40px;
            position: relative;
            left: 30%;
          }
          .like-count {
            p {
              padding: 0;
              text-align: center;
              span {
                font-size: 24px;
              }
            }
          }
        }
        .download-col {
          margin: auto;
          img {
            width: 40px;
            position: relative;
            left: 30%;
          }
          .download-count {
            p {
              padding: 0;
              text-align: center;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 319px) {
  .container {
    max-width: 260px !important;
    padding: 4px 8px;
    .card-div {
      height: 510px;
      padding: 10px 0;
      margin: auto;
      .card-basic {
        .card-title {
          font-size: 16px;
          font-weight: bold;
          padding: 0 10px;
        }
        .user-row {
          .user-icon {
            width: 30px;
            margin: auto;
          }
          .card-user {
            //font ile oynanacak
          }
        }
        .date-row {
          p {
            padding: 4px;
          }
        }
        .icon-row {
          .like-col {
            img {
              width: 40px;
            }
            .like-count {
              p {
                span {
                  font-size: 20px;
                }
              }
            }
          }
          .download-col {
            img {
              width: 40px;
            }
            .download-count {
              p {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 379px) {
  .container {
    max-width: 280px !important;
    .card-div {
      height: 520px;
      .card-basic {
        .card-title {
          padding: 0 25px !important;
        }
        .icon-row {
          .like-col {
            img {
              width: 41px;
              left: 32%;
            }
          }
          .download-col {
            img {
              width: 41px;
              left: 32%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 444px) {
  .container {
    max-width: 300px !important;
    .card-div {
      height: 550px;
      .card-basic {
        .card-title {
          font-size: 17px;
          padding: 0 5px;
        }
        .user-row {
          .card-user {
            //font ile oynanacak
            font-size: 22px;
          }
        }
        .date-row {
          p {
            padding: 5px;
          }
        }
        .icon-row {
          .like-col {
            img {
              left: 33%;
            }
            .like-count {
              p {
                span {
                  font-size: 21px;
                }
              }
            }
          }
          .download-col {
            img {
              left: 33%;
            }
            .download-count {
              p {
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 489px) {
  .container {
    max-width: 320px !important;
    .card-div {
      height: 570px;
      padding: 12px 0;
      .card-basic {
        .card-title {
          font-size: 18px;
          padding: 0 5px;
        }
        .date-row {
          p {
            padding: 6px;
          }
        }
        .icon-row {
          .like-col {
            img {
              left: 34%;
            }
            .like-count {
              p {
                span {
                  font-size: 21px;
                }
              }
            }
          }
          .download-col {
            img {
              width: 40px;
              left: 34%;
            }
            .download-count {
              p {
                font-size: 21px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 544px) {
  .container {
    max-width: 340px !important;
    .card-div {
      height: 570px;
      padding: 13px 0;
      .card-basic {
        width: 320px;
        .note-icon {
          width: 300px;
        }
        .card-title {
          font-size: 18px;
        }
        .date-row {
          p {
            padding: 6px;
          }
        }
        .icon-row {
          .like-col {
            img {
              width: 40px;
              left: 36%;
            }
          }
          .download-col {
            img {
              left: 36%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 599px) {
  .container {
    max-width: 500px !important;
    .card-div {
      max-height: 530px;
      padding: 0 0 !important;
      margin: auto;
      .card-basic {
        height: 475px;
        width: 220px;
        margin: auto;
        margin-left: 10px;
        .card-title {
          font-size: 16px;
          padding: 0 4px;
          height: 55px;
        }
        .user-row {
          padding: 4px;
          .user-icon {
            width: 26px;
            margin: auto;
          }
          .card-user {
            //font ile oynanacak
            font-size: 18px;
          }
        }
        .date-row {
          p {
            padding: 4px;
          }
        }
        .icon-row {
          .like-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 29%;
            }
            .like-count {
              p {
                span {
                  font-size: 19px;
                }
              }
            }
          }
          .download-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 29%;
            }
            .download-count {
              p {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 699px) {
  .container {
    max-width: 600px !important;
    .card-div {
      .card-basic {
        height: 490px;
        width: 240px;
        margin: auto;
        margin-left: 24px;
        .card-title {
          font-size: 17px;
          padding: 0 5px;
          height: 58px;
        }
        .user-row {
          padding: 6px;
          .user-icon {
            width: 26px;
            margin: auto;
          }
          .card-user {
            //font ile oynanacak
            font-size: 18px;
          }
        }
        .date-row {
          p {
            padding: 5px;
          }
        }
        .icon-row {
          .like-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 30%;
            }
            .like-count {
              p {
                span {
                  font-size: 19px;
                }
              }
            }
          }
          .download-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 30%;
            }
            .download-count {
              p {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 799px) {
  .container {
    max-width: 740px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 220px;
      margin-left: 12px;
      margin-right: 10px;
      .card-basic {
        height: 470px;
        width: 195px;
        margin-left: 10px;
        .card-title {
          font-size: 16px;
          padding: 0 3px;
          height: 60px;
        }
        .user-row {
          .card-user {
            //font ile oynanacak
            font-size: 18px;
          }
        }
        .icon-row {
          .like-col {
            margin-top: 12px;
            img {
              left: 26%;
            }
          }
          .download-col {
            margin-top: 12px;
            img {
              left: 26%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 879px) {
  .container {
    max-width: 790px !important;
    .card-div {
      max-width: 230px;
      margin-left: 16px;
      margin-right: 12px;
      .card-basic {
        height: 460px;
        width: 200px;
        .card-title {
          padding: 0 5px;
          height: 58px;
        }
        
        .icon-row {
          .like-col {
            img {
              left: 28%;
            }
          }
          .download-col {
            img {
              left: 28%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 949px) {
  .container {
    max-width: 870px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 260px;
      margin-left: 14px;
      margin-right: 10px;
      .card-basic {
        height: 460px;
        width: 210px;
        margin: auto;
        .icon-row {
          .like-col {
            img {
              left: 27%;
            }
          }
          .download-col {
            img {
              left: 27%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1049px) {
  .container {
    max-width: 980px !important;
    .card-div {
      max-height: 500px;
      margin: auto;
      max-width: 220px;
      margin-left: 14px;
      margin-right: 8px;
      .card-basic {
        height: 440px;
        width: 180px;
        margin: auto;
        .icon-row {
          .like-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 23%;
            }
            .like-count {
              p {
                span {
                  font-size: 19px;
                }
              }
            }
          }
          .download-col {
            margin-top: 7px;
            img {
              width: 38px;
              left: 23%;
            }
            .download-count {
              p {
                font-size: 19px;
              }
            }
          }
        }
      }
    }
  }
  //
}
@media screen and (min-width: 1149px) {
  .container {
    max-width: 1080px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 240px;
      margin-left: 16px;
      margin-right: 8px;
      .card-basic {
        height: 470px;
        width: 200px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 28%;
            }
          }
          .download-col {
            img {
              left: 28%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1249px) {
  .container {
    max-width: 1170px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 270px;
      margin-left: 14px;
      margin-right: 6px;
      .card-basic {
        height: 480px;
        width: 230px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 1349px) {
  .container {
    max-width: 1260px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 280px;
      margin-left: 16px;
      margin-right: 16px;
      .card-basic {
        height: 490px;
        width: 240px;
        margin: auto;
        // margin-left: 32px;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 30%;
            }
          }
          .download-col {
            img {
              left: 30%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1449px) {
  .container {
    max-width: 1380px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 240px;
      margin-left: 16px;
      margin-right: 16px;
      .card-basic {
        height: 475px;
        width: 220px;
        margin: auto;
        .card-title {
          font-size: 16px;
          font-weight: bold;
          padding: 0 4px;
          height: 55px;
        }
        .user-row {
          padding: 4px;
          .user-icon {
            width: 26px;
            margin: auto;
          }
          .card-user {
            //font ile oynanacak
            font-size: 18px;
          }
        }
        .date-row {
          p {
            padding: 4px;
          }
        }
        .icon-row {
          .like-col {
            img {
              left: 29%;
            }
          }
          .download-col {
            img {
              left: 29%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1549px) {
  .container {
    max-width: 1360px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 250px;
      margin-left: 14px;
      margin-right: 0px;
      .card-basic {
        height: 480px;
        width: 220px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 29%;
            }
          }
          .download-col {
            img {
              left: 29%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1649px) {
  .container {
    max-width: 1500px !important;
    .card-div {
      max-height: 530px;
      margin: auto;
      max-width: 280px;
      margin-left: 14px;
      margin-right: 0px;
      .card-basic {
        height: 490px;
        width: 250px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 32%;
            }
          }
          .download-col {
            img {
              left: 32%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1749px) {

  .container {
    max-width: 1620 !important;
    .card-div {
      max-height: 500px;
      margin: auto;
      max-width: 240px;
      margin-left: 7px;
      margin-right: 0px;
      .card-basic {
        height: 480px;
        width: 220px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 29%;
            }
          }
          .download-col {
            img {
              left: 29%;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1849px) {

  .container {
    max-width: 1700 !important;
    padding: 12px 20px;
    
    .card-div {
      max-height: 500px;
      margin: auto;
      max-width: 240px;
      margin-left: 6px;
      margin-right: 0px;
      .card-basic {
        height: 480px;
        width: 220px;
        margin: auto;
        .card-title {
          font-size: 18px;
        }
        .icon-row {
          .like-col {
            img {
              left: 29%;
            }
          }
          .download-col {
            img {
              left: 29%;
            }
          }
        }
      }
    }
  }
}


</style>