<template>
  <div>
    <v-toolbar class="navbar">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="$vuetify.breakpoint.xs"></v-app-bar-nav-icon>
      <router-link to="/" tag="v-toolbar-title">
        <v-btn text class="font-size-title" style="padding:0" >Mavinote</v-btn>
      </router-link>

      <v-spacer></v-spacer>
      <!-- navbar butonlar -->
      <v-toolbar-items v-if="$vuetify.breakpoint.smAndUp">
        <v-btn class="but-font-size" text>
          <v-avatar size="40">
            <img src="../../assets/icon/plus.png" alt="plus" />
          </v-avatar>Not Yükle
        </v-btn>
        <v-btn class="but-font-size" text>
          <v-avatar size="40">
            <img src="../../assets/icon/information.png" alt="information" />
          </v-avatar>Hakkımızda
        </v-btn>
        <v-btn class="but-font-size" text>
          <v-avatar size="40">
            <img src="../../assets/icon/contact.png" alt="contact" />
          </v-avatar>İletişim
        </v-btn>
        <v-btn class="but-font-size" text v-if="!login">
          <v-avatar size="40">
            <img src="../../assets/icon/user.png" alt="user" />
          </v-avatar>
          <span style="color:black">
            <b>Giriş/Üye ol</b>
          </span>
        </v-btn>
      </v-toolbar-items>
      <div class="text-center" v-if="login && !$vuetify.breakpoint.xs">
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn class="but-font-size" large v-on="on" text>
              <v-avatar size="35" style="margin-right:5px">
                <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
              </v-avatar>
              <span style="color:black">
                <b>Yunus GÜMÜŞ</b>
              </span>
            </v-btn>
          </template>
          <v-list>
            <v-list-item  link>
              <router-link to="/ProfileComponent" tag="v-list-item-title">
                <v-list-item-title>
                   <v-avatar>
                      <img src="../../assets/icon/user.png" alt="">
                  </v-avatar>
                  Profili Görüntüle
                </v-list-item-title>
              </router-link>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title>
                <v-avatar>
                  <img src="../../assets/icon/logout.png" alt="">
                </v-avatar>
                Çıkış Yap
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <!-- navbar icon kısmı -->
      <template v-if="$vuetify.breakpoint.xs">
        <v-btn icon>
          <v-avatar size="40">
            <img src="../../assets/icon/plus.png" alt="plus" />
          </v-avatar>
        </v-btn>
        <v-btn icon>
          <v-avatar size="40">
            <img src="../../assets/icon/information.png" alt="information" />
          </v-avatar>
        </v-btn>
        <v-btn style="font-size:10px" icon>
          <v-avatar size="40">
            <img src="../../assets/icon/contact_s.png" alt="contact" />
          </v-avatar>
        </v-btn>
        <v-btn text v-if="!login" icon>
          <v-avatar size="40">
            <img src="../../assets/icon/user.png" alt="user" />
          </v-avatar>
        </v-btn>
        <v-menu offset-y v-if="login">
          <template v-slot:activator="{ on }">
            <v-btn class="but-font-size" large v-on="on" text icon>
              <v-avatar size="35" style="margin-right:5px">
                <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
              </v-avatar>
            </v-btn>
          </template>
          <v-list>
            <v-list-item  link>
            <router-link to="/ProfileComponent" tag="v-list-item-title">
                <v-list-item-title>
                   <v-avatar>
                      <img src="../../assets/icon/user.png" alt="">
                  </v-avatar>
                  Profili Görüntüle
                </v-list-item-title>
              </router-link>
            </v-list-item>
            <v-list-item link>
              <v-list-item-title>
                <v-avatar>
                  <img src="../../assets/icon/logout.png" alt="">
                </v-avatar>
                Çıkış Yap
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-toolbar>
    <template>
      <v-navigation-drawer v-model="drawer" absolute temporary width="220">
        <v-list nav dense>
          <v-list-item-group>
            <v-list-item-title>Mavinote</v-list-item-title>
            <hr />
            <v-list-item v-if="!login">
              <v-list-item-title style="margin-top:10px">
                <v-avatar >
                  <img src="../../assets/icon/user.png" alt="user"/>
                </v-avatar>Giriş/Üye ol
              </v-list-item-title>
            </v-list-item>
              <v-list-item v-if="login" style="margin-left:9px; margin-top:10px">
              <router-link to="/ProfileComponent" tag="v-list-item-title">
                <v-list-item-title>
                   <v-avatar>
                      <img src="../../assets/icon/user.png" alt="">
                  </v-avatar>
                  Profili Görüntüle
                </v-list-item-title>
              </router-link>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>
                <v-avatar>
                  <img src="../../assets/icon/plus.png" alt="plus" />
                </v-avatar>Not Yükle
              </v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title>
                <v-avatar>
                  <img src="../../assets/icon/information.png" alt="information" />
                </v-avatar>Hakkımızda
              </v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title>
                <v-avatar>
                  <img src="../../assets/icon/contact.png" alt="contact" />
                </v-avatar>İletişim
              </v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-title v-if="login">
                <v-avatar size="40" style="margin-left:5px">
                  <img src="../../assets/icon/logout.png" alt="logout" />
                </v-avatar>Çıkış yap
              </v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </template>
  </div>
</template>

<script>
export default {
  data: () => ({
    login: true,
    drawer: false,
    group: null
  }),
  watch: {
    group() {
      this.drawer = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../style/main.scss";
.navbar{
  background-color: $navbar-countdiv !important;
}
@media screen and (min-width: 380px) {
  .font-size-title {
    font-size: 18px !important ;
  }
}
@media screen and (min-width: 580px) {
  .but-font-size {
    font-size: 10px !important ;
    padding: 0px 6px !important;
  }
}
@media screen and (min-width: 645px) {
  .but-font-size {
    font-size: 11px !important ;
    padding: 0px 8px !important;
  }
}

@media screen and (min-width: 720px) {
  .but-font-size {
    font-size: 12px !important ;
    padding: 0px 10px !important;
  }
}

@media screen and (min-width: 860px) {
  .but-font-size {
    font-size: 16px !important ;
  }
}
</style>