<template>
  <div >
    <v-btn class="btn-basic">{{btnText}}</v-btn>
  </div>
</template>

<script>
export default {
    props : ["btnText"]

};
</script>

<style lang="scss" scoped>
.btn-basic {
  border: 1px solid green;
 

}
@media screen and (min-width: 319px) {
  .btn-basic {
    min-width: 1px !important;
    width: 55px !important;
   font-size: 10px !important;
   margin: 0 3px;
  }
}
@media screen and (min-width: 380px) {
  .btn-basic {
    width: 65px !important;
   font-size: 10px !important;
   margin: 0 3px;
  }
}
@media screen and (min-width: 380px) {
  .btn-basic {
    width: 65px !important;
   font-size: 12px !important;
   margin: 0 5px;
  }
}
@media screen and (min-width: 460px) {
  .btn-basic {
    width: 70px !important;
   font-size: 14px !important;
     margin: 0 6px;
  }
}
@media screen and (min-width: 580px) {
  .btn-basic {
    width: 80px !important;
   font-size: 15px !important;
     margin: 0 8px !important;
  }
}
@media screen and (min-width: 860px) {
  .btn-basic {
    width: 100px !important;
   font-size: 16px !important;
     margin: 0 16px !important;
  }
}
@media screen and (min-width: 1040px) {
  .btn-basic {
    width: 120px !important;
   font-size: 18px !important;
     margin: 0 22px !important;
  }
}
</style>