<template>
  <v-app>
    <navbar-component/>
    <!-- <class-component/> -->
    <!-- <note-component/> -->
    <router-view/>
  </v-app>
</template>

<script>
import NavbarComponent from "./components/Utils/NavbarComponent"
// import ClassComponent from "./components/ClassComponent"
// import NoteComponent from   "./components/NoteComponent"
export default {
  name: "App",

  components: {
    NavbarComponent,
    // ClassComponent,
    // NoteComponent
  },

  data: () => ({
    items: [
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me" },
      { title: "Click Me 2" }
    ]
  })
};
</script>
<style lang="scss" scoped>
  .test{
   background-color: #57cefa !important;
  }

  p{
    span{
      font-size:22px;
    }
  }

</style>


