<template>
  <v-card elevation="8" class="card-basic">
    <b>
      <h3>Bilgisayar Mühendisliğine Giriş Alan dersi</h3>
    </b>

    <v-row>
      <v-col class="class-info">
        <h5>Toplam İndirme Sayısı</h5>
        <p>172</p>
      </v-col>
      <v-col class="class-info">
        <h5>Toplam Not Sayısı</h5>
        <p>172</p>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "../../style/main.scss";
.card-basic {
  height: 160px;
  width: 800px;
  margin: 20px auto;
  h3 {
    padding: 10px 15px;
    padding-bottom: 0;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    font-family: $directory-note-font;
  }
  .class-info {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    h5{
      padding-bottom: 5px;
    }
  }
}

@media screen and (min-width: 319px) {
  .card-basic {
    height: 150px;
    width: 280px;
    h3 {
      padding: 5px 10px;
      font-size: 15px;
      line-height: 30px;
    }
    h5 {
    font-size: 12px;
    text-align: center;
  }
  }
}

@media screen and (min-width: 379px) {
  .card-basic {
    height: 140px;
    width: 300px;
    h3 {
      padding: 6px 10px;
      font-size: 15px;
      line-height: 30px;
    }
    h5 {
    font-size: 12px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 444px) {
 .card-basic {
    height: 140px;
    width: 350px;
    h3 {
      padding: 10px 10px;
      font-size: 15px;
      line-height: 30px;
    }
    h5 {
    font-size: 12px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 544px) {
  .card-basic {
    height: 140px;
    width: 400px ;
    h3 {
      padding: 12px 10px;
      font-size: 16px;
      line-height: 30px;
    }
    h5 {
    font-size: 12px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 599px) {
 .card-basic {
    height: 150px;
    width: 420px;
    h3 {
      padding: 12px 10px;
      font-size: 17px;
      line-height: 30px;
    }
    h5 {
    font-size: 13px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 699px) {
  .card-basic {
    height: 160px;
    width: 450px;
    h3 {
      padding: 13px 10px;
      font-size: 18px;
      line-height: 30px;
    }
    h5 {
    font-size: 14px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 799px) {
  .card-basic {
    height: 160px;
    width: 490px;
    h3 {
      padding: 14px 10px;
      font-size: 20px;
      line-height: 30px;
    }
    h5 {
    font-size: 14px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 879px) {
  .card-basic {
    height: 160px;
    width: 530px;
    h3 {
      padding: 15px 10px;
      font-size: 20px;
      line-height: 30px;
    }
    h5 {
    font-size: 15px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 949px) {
  .card-basic {
    height: 160px;
    width: 560px;
    h3 {
      padding: 16px 10px;
      font-size: 21px;
      line-height: 30px;
    }
    h5 {
    font-size: 15px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1049px) {
  .card-basic {
    height: 160px;
    width: 580px;
    h3 {
      padding: 16px 10px;
      font-size: 21px;
      line-height: 30px;
    }
    h5 {
    font-size: 15px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1149px) {
 .card-basic {
    height: 160px;
    width: 600px;
    h3 {
      padding: 18px 10px;
      font-size: 22px;
      line-height: 30px;
    }
    h5 {
    font-size: 16px;
    text-align: center;
  }
  }
}

@media screen and (min-width: 1249px) {
  .card-basic {
    height: 160px;
    width: 640px;
    h3 {
      padding: 18px 10px;
      font-size: 23px;
      line-height: 30px;
    }
    h5 {
    font-size: 16px;
    text-align: center;
  }
  }
}

@media screen and (min-width: 1349px) {
  .card-basic {
    height: 160px;
    width: 680px;
    h3 {
      padding: 20px 10px;
      font-size: 24px;
      line-height: 30px;
    }
    h5 {
    font-size: 17px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1449px) {
  .card-basic {
    height: 160px;
    width: 720px;
    h3 {
      padding: 20px 10px;
      font-size: 25px;
      line-height: 30px;
    }
    h5 {
    font-size: 17px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1549px) {
 .card-basic {
    height: 160px;
    width: 780px;
    h3 {
      padding: 21px 10px;
      font-size: 27px;
      line-height: 30px;
    }
    h5 {
    font-size: 18px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1649px) {
  .card-basic {
    height: 160px;
    width: 820px;
    h3 {
      padding: 22px 10px;
      font-size: 28px;
      line-height: 30px;
    }
    h5 {
    font-size: 18px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1749px) {
  .card-basic {
    height: 160px;
    width: 880px;
    h3 {
      padding: 24px 10px;
      font-size: 30px;
      line-height: 30px;
    }
    h5 {
    font-size: 19px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1849px) {
   .card-basic {
    height: 160px;
    width: 950px;
    h3 {
      padding: 26px 10px;
      font-size: 32px;
      line-height: 30px;
    }
    h5 {
    font-size: 20px;
    text-align: center;
  }
  }
}
@media screen and (min-width: 1910px) {
   .card-basic {
    height: 160px;
    width: 980px;
    h3 {
      padding: 25px 10px;
      font-size: 31px;
      line-height: 30px;
    }
    h5 {
    font-size: 20px;
    text-align: center;
  }
  }
}
</style>