<template>
  <div class="class-slct-comp-div justify-space-around d-flex">
    <select-button class="btn-config" v-for="i in items.length" :key="i" :btnText="items[i-1]" />
  </div>
</template>

<script>
import SelectButton from "../Utils/SelectButton";
export default {
  data() {
    return {
      items: ["all", "1.Sınıf", "2.Sınıf", "3.Sınıf", "4.Sınıf"]
    };
  },
  components: {
    SelectButton
  }
};
</script>

<style lang="scss" scoped>
.class-slct-comp-div {
  margin: 4% auto;
  // border: 2px solid blue;
  width: 650px;
}
.btn-config {
  display: inline;
}
@media screen and (max-width: 380px) {
  .class-slct-comp-div {
    width: 320px;
   
  }
}
@media screen and (min-width: 380px) {
  .class-slct-comp-div {
    width: 320px;
   
  }
}
@media screen and (min-width: 460px) {
  .class-slct-comp-div {
    width: 380px;
   
  }
}
@media screen and (min-width: 580px) {
  .class-slct-comp-div {
    width: 450px;
   
  }
}
@media screen and (min-width: 860px) {
  .class-slct-comp-div {
    width: 650px;
   
  }
}
@media screen and (min-width: 1040px) {
  .class-slct-comp-div {
    width: 860px;
   
  }
}
</style>